# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
.venv/
env/
venv/

# Django stuff:
*.log
*.pot
*.py[cod]
*.sqlite3
portfolio/db.sqlite3
media/
staticfiles/
__pycache__/
local_settings.py

# IDE
.idea/
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Others
*.egg-info/
dist/
build/
