<!-- Navigation-->
{% url 'index' as index_url %}
{% url 'resume' as resume_url %}
{% url 'work' as work_url %}
{% url 'contact' as contact_url %}
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" href="{{ index_url }}"><span class="fw-bolder text-primary">Ivan.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">

                <li class="nav-item"><a class="nav-link {% if request.path == index_url %}active{% endif %}" href="{{ index_url }}">Home</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == resume_url %}active{% endif %}" href="{{ resume_url }}">Resume</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == work_url %}active{% endif %}" href="{{ work_url }}">Work</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == contact_url %}active{% endif %}" href="{{ contact_url }}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<div>-->
<!--    {% url 'index' as index_url %}-->
<!--    <span>{% if request.path == index_url %}Home{% else %}<a href="{{ index_url }}">Home</a>{% endif %}</span>-->
<!--    {% url 'resume' as resume_url %}-->
<!--    <span>{% if request.path == resume_url %}Resume{% else %}<a href="{{ resume_url }}">Resume</a>{% endif %}</span>-->
<!--    {% url 'work' as work_url %}-->
<!--    <span>{% if request.path == work_url %}Work{% else %}<a href="{{ work_url }}">Work</a>{% endif %}</span>-->
<!--    {% url 'contact' as contact_url %}-->
<!--    <span>{% if request.path == contact_url %}Contact{% else %}<a href="{{ contact_url }}">Contact</a>{% endif %}</span>-->
<!--</div>-->